@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    color: theme('colors.blue.500');
  }

  td {
    padding: 0 theme('spacing.2');
  }

  label {
    font-size: theme('fontSize.sm');
  }

  input {
    display: block;
  }

  button, [type='button'], [type='reset'], [type='submit'] {
    border-radius: theme('borderRadius.sm');
    background-color: theme('colors.blue.300');
    padding: theme('spacing.1') theme('spacing.2');
    min-width: 64px;

    @apply shadow-sm;
  }

  button:hover {
    background-color: theme('colors.blue.400');
  }

  button:disabled {
    background-color: theme('colors.blue.200');
    color: theme('colors.gray.500');
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4, h5, h6 {
    @apply text-lg;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply mb-1;
  }
}